:root {
  // colors
  --mainColor: #4a75e8;
  --mainColorDarker: #4a75e8;
  --base-100: #fefefe;
  --base-400: #808897;
  --base-500: #616978;
  --base-600: #353940;
  --base-800: #27292e;
  --base-850: #26282a;
  --sec-500: #b2b7bd;
  --prim-500: var(--mainColor);
  --black: #000000;

  // font
  --ff-base: "Lato";
}
