.container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: auto;
  padding-bottom: 24px;
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
