@import "src/styles/variables.scss";

:root {
  html,
  body {
    font-family: var(--ff-base);
  }

  #_auth-dev-root {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
